.container {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
  flex: 1;
  min-height: 100px;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 20px;
}
