.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: bottom 0.3s ease, background-color 1.2s ease;
  z-index: 9;
  color: rgba(255, 255, 255, 0.7);
  overflow-y: auto;
  /* margin-top: 70px; */
}

.open {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.close {
  bottom: -100vh;
  background-color: rgba(0, 0, 0, 0);
}

.leftMenuMock {
  height: 100%;
  width: 320px;
}

.modalContentContainer {
  min-height: 500px; /* Adjust height to fill the viewport */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Ensure this container can scroll if needed */
  /* background-color: aquamarine; */
}

.modalContainer {
  min-height: 190;
  width: 500px;
  background-color: #14181c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable scrolling within the modal */
}

.itemsContainer {
  height: 35%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure items start from the top */
  align-items: stretch; /* Make items stretch to fill width */
  background-color: rgb(7, 82, 11);
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Optional padding for inner content spacing */
}

.itemsContainer > * {
  width: 100%; /* Ensure full width for child elements */
  box-sizing: border-box; /* Include padding and border in the element's width */
  flex-shrink: 0; /* Prevent shrinking */
}

@media (max-width: 900px) {
  .leftMenuMock {
    display: none;
  }

  .modalContainer {
    width: 90%;
  }

  .modalContentContainer {
    margin-top: 80px;
  }
}
